.card-single {
  background: #cecece;
  height: 70vh;
  padding: 5rem 0;

  img {
    padding-left: 1rem;
  }
}

.card-single .buy {
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.buy {
  background: #ffce00;
  color: #000000;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

.buy:hover {
  background: #ffe600;
}