/* Header */

header {
  position: relative;
  background-color: black;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.main-section {
  background-color: #cecece;
  color: #232323;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* End Header */

/* Top Products */

.text-top {
  display: grid;
  place-items: center;
  margin-top: 8rem;
}

.main-card {
  display: flex;
  justify-content: space-evenly;
}


.slider-container {
  height: 39rem;
  width: 95vw;
  margin-top: 5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #232323;
  border-radius: 2rem;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  cursor: grab;
}

.item {
  margin-top: 3rem;
  margin-right: 3.2rem;
}

.item img {
  pointer-events: none;
  object-fit: cover;
}

.slider-container .item {
  opacity: 0.9;
}

/* End Top Product */

/* Start Other Product */

.vertical-card {
  display: flex;
  justify-content: space-evenly;
  background: rgba(#cc6600, 0.6);
  margin-top: 4rem;
  border-radius: 1rem;
}

.slider-container-vertical {
  height: 40rem;
  width: 24rem;
  margin: 3rem 0rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #232323;
  border-radius: 2rem;
}

.slider-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
}

.item-vertical {
  margin-top: 4rem;
}

.item-vertical img {
  pointer-events: none;
  object-fit: cover;
}

.slider-container-vertical .item-vertical {
  opacity: 0.8;
}

/* End Other Product */

/* Footer */

.footer__main {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin-top: 10rem;
}
.footer__container {
  width: 100%;
  place-content: center;
  text-align: center;
  padding-top: 1.5rem;
}
.footer-item {
  font-size: 15px;
  display: inline-block;
  text-align: center;
  width: calc(90% / 4);
}

.footer-item .text-about {
  margin-right: 1rem;
}
.footer-item ul li a {
  line-height: 2.5;
  transition: all;
}
.footer-item ul li a:hover {
  background-color: transparent;
  color: whitesmoke;
  transition: .5s;
}
.footer-item h3 {
  text-align: center;
  padding: 15px 0 18px 29px;
}
.footer__main ul li {
  list-style: none;
  color: gray;
}
.footer__container a {
  color: gray;
  text-decoration: none;
}
.footer__foot {
  border-top: 1px solid gray ;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}
.footer__foot__h {
  color: gray;
  font-size: 12px;
  font-weight:lighter;
  padding-left: 4rem;
}

/* End Footer */