.top-product-card {
  position: relative;
  width: 330px;
  height: 535px;
  background: #fafafa;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 6px 8px #cecece;
}

.top-product-card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.top-product-card .top-product-imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.top-product-card .top-product-contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.top-product-card .top-product-contentBox h3 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.top-product-card .top-product-contentBox .top-product-price {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  letter-spacing: 2px;
}
.top-product-card .top-product-contentBox .top-product-text {
  margin-top: 32px;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
}

.top-product-card .top-product-contentBox .top-product-buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #cecece;
  text-decoration: none;
  background: rgba(#232323, 0.9);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.top-product-card:hover .top-product-contentBox .top-product-buy {
  top: 0;
  opacity: 1;
}

.top-product-mouse {
  object-fit: cover;
  height: 300px;
  width: auto;
}
