/* Footer */

.footer__main {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin-top: 10rem;
}
.footer__container {
  width: 100%;
  place-content: center;
  text-align: center;
  padding-top: 1.5rem;
}
.footer-item {
  font-size: 15px;
  display: inline-block;
  text-align: center;
  width: calc(90% / 4);
}

.footer-item .text-about {
  margin-right: 1rem;
}
.footer-item ul li a {
  line-height: 2.5;
  transition: all;
}
.footer-item ul li a:hover {
  background-color: transparent;
  color: whitesmoke;
  transition: .5s;
}
.footer-item h3 {
  text-align: center;
  padding: 15px 0 18px 29px;
}
.footer__main ul li {
  list-style: none;
  color: gray;
}
.footer__container a {
  color: gray;
  text-decoration: none;
}
.footer__foot {
  border-top: 1px solid gray ;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}
.footer__foot__h {
  color: gray;
  font-size: 12px;
  font-weight:lighter;
  padding-left: 4rem;
}

/* End Footer */